<div [@fadeInAnimation] class="row content htr"  *ngIf="album">
    <div class="col-sm-4 mx  " style="width:100% ; height: 100%;">
        <div class="card">
            <img class="card-img-top" src="./assets/images/default_image.png" alt="Group Music">
            <div class="card-body" >
                <h5 style="color: red;">{{album.title}}</h5>
                <p class="card-text"><strong style="border-bottom: 1px solid blue;">Name:</strong> {{album.name}}</p>
                <a (click) = play(album) class="btn btn-primary">Play ▶</a>
                <a style="margin-inline: 0.5rem;" (click) = Aleatoire(Tabs) class="btn btn-primary ">Aléatoire ♾</a>
            </div>


            <ul  class="list-group">
                <!--else veut dire je tage noSong //// ensuite on rappelle que * qui est au niveau de *ngIf est un raccourcir pr appeler <ng-template></ng-template> -->


                <li class="list-group-item" *ngFor="let Tab of Tabs">{{Tab}}</li>
            </ul>

            
        </div>
    </div>

    <style>
        .htr {
             position: sticky ;
             top:25px;
            animation: fax 2.5s ease-out;
        }
        @keyframes fax{
           0%{transform: translateY(200px)} 
           100%{transform: translateY(0px)}
        }
        .tr0{
            position: relative;
        }
    </style>