
<div class="tr0" style="display: flex;;column-gap: 1.5rem;">


    <div class="col-sm-4" style="width:35%;">
        <!-- AlbumDetails communication parent vers enfant -->
        <app-album-details [album]="selectedAlbum" (onPlay)="playParent($event)"></app-album-details>
    </div>

    <div class="tr">

        <h1 class="fw-semibold pt-">{{ titlePage }}</h1>

        <ng-container *ngIf="albums&&albums.length; else notfound">
            <div class="card my-2 fw-semibold" *ngFor="let album of albums let i=index ;">
                <div class="card-header">
                    Pop <span *ngIf="status === album.id" >[play]</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title" ><a routerLink="/album/{{album.id}}">{{album.title}}</a></h5>
                    <p class="card-text ">{{album.description}} <br> <br>
                        <!-- <a class="btn btn-info mx-1"  role="button" *ngFor="let tag of album.tags">{{tag}}</a> <br> -->
                        <br>
                        <a class="btn btn-outline-danger"   role="button">en</a>
                        <img class="glyph-icon ms-2  btn-danger" src="./assets/svg/si-glyph-heart.svg" width="15" />
                        <small class=" ms-1">{{album.like}}</small>
                        <img class="glyph-icon mx-1" src="./assets/svg/si-glyph-timer.svg" width="15" />
                        <small>{{album.duration}} min</small> 
                        <a class="btn btn-danger  mx-1" (click)="onSelect(album)" type="submit" role="button">Afficher</a>
                </div>
            </div>
        </ng-container>
           <ng-template #notfound>
               <div class="card">
                <div class="card-body text-center">
               <p class="card-text fs-4">404 NOT FOUND 😴</p>
                </div>
               </div>
           </ng-template>

    </div>

</div>